body {
	height: 100vh;
	width: 100vw;
	padding: 0 5%;
	box-sizing: border-box;
}

.content {
	box-sizing: border-box;

	min-height: 62.5%;
	width: 100%;
	padding: 10% 0 15% 0;

	color: gray;
	font-family: serif;
	font-size: 0.75rem;

	display: flex;
	justify-content: center;
	align-items: center;
}