body {
	height: 100vh;
	width: 100vw;
	padding: 0 5%;
	box-sizing: border-box;
}

.content {
	box-sizing: border-box;
	min-height: 62.5%;
	width: 100%;
	padding: 10% 0 15% 0;

	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 1.5rem;

	padding: 0;
	margin: 0;
}

#list li {
	padding: 0;
	margin: 0;
	list-style-type: decimal;
}